[Unit]
Description=Simba UI
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill simba
ExecStartPre=-/usr/bin/docker rm simba
ExecStartPre=/usr/bin/docker pull connecter/simba:staging
ExecStart=/usr/bin/docker run --rm \
  --name simba \
  -h simba-%i \
  -p 80:80 \
  -e XMPP_BIND_URL="http://172.17.42.1:5280/http-bind/" \
  connecter/simba:staging
ExecStop=/usr/bin/docker stop simba

[X-Fleet]
Conflicts=simba@*.service
