[Unit]
Description=Jitsi Videobridge
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=on-failure
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill videobridge
ExecStartPre=-/usr/bin/docker rm videobridge
ExecStartPre=/usr/bin/docker pull connecter/videobridge:latest
ExecStart=/usr/bin/docker run --rm --name videobridge \
  --net host \
  connecter/videobridge:latest \
    --x-org.jitsi.impl.neomedia.transform.srtp.SRTPCryptoContext.checkReplay=false \
    --x-org.jitsi.videobridge.NAT_HARVESTER_PRIVATE_ADDRESS=$COREOS_PRIVATE_IPV4 \
    --x-org.jitsi.videobridge.NAT_HARVESTER_PUBLIC_ADDRESS=$COREOS_PUBLIC_IPV4 \
    --x-org.jitsi.videobridge.TCP_HARVESTER_PORT=4443 \
    --x-org.jitsi.videobridge.TCP_HARVESTER_MAPPED_PORT=4443 \
    --domain=connecter.io \
    --host=172.17.42.1 \
    --port=8889 \
    --subdomain=videobridge \
    --secret=secret
ExecStop=/usr/bin/docker stop videobridge

[X-Fleet]
Conflicts=videobridge@*.service
