[Unit]
Description=Zazu IM
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=on-failure
StandardInput=tty-force
ExecStartPre=-/usr/bin/docker kill zazu
ExecStartPre=-/usr/bin/docker rm zazu
ExecStartPre=/usr/bin/docker pull connecter/zazu:travis
ExecStart=/usr/bin/docker run --rm --name zazu -h zazu@%i.service \
  -p 5222:5222 \
  -p 5280:5280 \
  -p 8888:8888 \
  -p 8889:8889 \
  -ti \
  connecter/zazu:travis
ExecStop=/usr/bin/docker stop zazu

[X-Fleet]
Conflicts=zazu@*.service
